# Yahoo Finance API Configuration
YAHOO_FINANCE_BASE_URL=https://yh-finance.p.rapidapi.com
YAHOO_FINANCE_API_KEY=83d734be42msh306322cfa6ead0fp172773#ANKIT#jsn7014f3f4f7a9
YAHOO_FINANCE_HOST=yh-finance.p.rapidapi.com 
